body {
  box-sizing: border-box;
}
main {
  padding: 0 40px;
}
.columns {
  display: flex;
}
.left-column {
  width: 42%;
}
.right-column {
  width: 58%;
  padding: 40px;
}
#h1 {
  letter-spacing: 0.8rem;
  text-align: center;
}
#cv-foto {
  margin-left: 25%;
  margin-bottom: 10px;
  width: 200px;
  height: auto;
  border-radius: 70%;
}
.centred {
  margin: 20px auto;
  width: 1024px;
}
footer {
  display: flex;
  align-items: center;
  padding: 20px;
}
.contacts h2 {
  text-align: center;
  margin-bottom: 20px;
  letter-spacing: 0.5rem;
}
.contacts img {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  margin-right: 10px;
  width: 30px;
  height: 30px;
}
.contacts li {
  list-style-type: none;
}

.skills h2 {
  text-align: center;
  margin-bottom: 20px;
  letter-spacing: 0.5rem;
}

.skills li {
  margin-bottom: 10px;
  list-style-type: disc;
}
.progress {
  margin-bottom: 10px;
}
